$app-nav: 75px;
$app-side-nav: 250px;

$app-primary-color: #006600;
$app-primary-invert-color: #fff;
$app-secondary-color: #004200;
$app-body-color: #fafafa;
$app-text-color: #000;
$app-text-invert-color: #fff;
$app-text-select-color: #fff;
$app-border-color: #6c757d;

$app-table-row-height: 50px;
$app-pagination-padding: 15px;
$app-pagination-item: 40px;
