@import "src/global-vars";

:host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: $app-nav;
    background-color: $app-primary-color;
    display: flex;
    align-items: center
}
.menu-button {
    cursor: pointer;
    color: white;
    margin-left: 25px;
    text-align: center;
    display: flex;
    i {
        font-size: 40px;
    }
}
.menu-button:hover {
    opacity: 0.7;
}
.greeting {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
}
