<div class="container-fluid h-100">
    <div class="row h-100">

        <div class="col-6 vh-100 overflow-auto">

            <ng-container *ngIf="{ control: 'col-12', label: 'col-4', input: 'col-8'} as col">

                <form (ngSubmit)="register()" class="container py-4" [formGroup]="registerForm">


                    <h1 class="mb-4 text-center">Register</h1>
                    <div class="row">

                        <div class="{{col.control}}">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="{{col.label}}">
                                    <label for="firstName" class="col-form-label">First Name</label>
                                </div>
                                <div class="{{col.input}}">
                                    <input type="text" formControlName="firstName" class="form-control form-control-sm" id="firstName" required>
                                </div>
                            </div>
                        </div>

                        <div class="{{col.control}}">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="{{col.label}}">
                                    <label for="lastName" class="col-form-label">Last Name</label>
                                </div>
                                <div class="{{col.input}}">
                                    <input type="text" formControlName="lastName" class="form-control form-control-sm" id="lastName" required>
                                </div>
                            </div>
                        </div>


                        <div class="{{col.control}}">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="{{col.label}}">
                                    <label for="email" class="col-form-label">Email Address</label>
                                </div>
                                <div class="{{col.input}}">
                                    <input type="email" formControlName="email" class="form-control form-control-sm" id="email" required value="avawaruna@gmail.com">
                                </div>
                            </div>
                        </div>

                        <div class="{{col.control}}">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="{{col.label}}">
                                    <label for="nic" class="col-form-label">NIC</label>
                                </div>
                                <div class="{{col.input}}">
                                    <input type="text" formControlName="nic" class="form-control form-control-sm" id="nic" required>
                                </div>
                            </div>
                        </div>

                        <div class="{{col.control}}">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="{{col.label}}">
                                    <label for="password" class="col-form-label">Password</label>
                                </div>
                                <div class="{{col.input}}">
                                    <input type="password" formControlName="password" class="form-control form-control-sm" id="password" required>
                                </div>
                            </div>
                        </div>

                        <div class="{{col.control}}">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="{{col.label}}">
                                    <label for="confirm" class="col-form-label">Confirm Password</label>
                                </div>
                                <div class="{{col.input}}">
                                    <input type="password" formControlName="confirm" class="form-control form-control-sm" id="confirm">
                                </div>
                            </div>
                        </div>

                        <div class="{{col.control}}">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="{{col.label}}">
                                    <label for="gender" class="col-form-label">Gender</label>
                                </div>
                                <div class="{{col.input}}">
                                    <ng-select formControlName="gender" id="gender" [clearable]="false" [searchable]="false">
                                        <ng-option *ngFor="let gender of ['Male', 'Female']" [value]="gender">{{gender}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                        </div>

                        <div class="{{col.control}}">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="{{col.label}}">
                                    <label for="position" class="col-form-label">Position</label>
                                </div>
                                <div class="{{col.input}}">
                                    <ng-select formControlName="position" id="position" [clearable]="false" [searchable]="false">
                                        <ng-option *ngFor="let position of positions" [value]="position.id">{{position.name}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                        </div>

                        <div class="{{col.control}}">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="{{col.label}}">
                                    <label for="dob" class="col-form-label">Birthday</label>
                                </div>
                                <div class="{{col.input}}">
                                    <input type="text" formControlName="dob" class="form-control form-control-sm" id="dob" required value="1995-03-20">
                                </div>
                            </div>
                        </div>

                        <div class="{{col.control}}">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="{{col.label}}">
                                    <label for="phone" class="col-form-label">Phone</label>
                                </div>
                                <div class="{{col.input}}">
                                    <input type="text" formControlName="phone" class="form-control form-control-sm" id="phone">
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <label class="col-form-label">Address</label>
                        </div>

                    </div>

                    <div formGroupName="address" class="row">

                        <div class="{{col.control}}">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="{{col.label}}">
                                    <label for="line1" class="col-form-label">Line 1</label>
                                </div>
                                <div class="{{col.input}}">
                                    <input type="text" formControlName="line1" class="form-control form-control-sm" id="line1">
                                </div>
                            </div>
                        </div>

                        <div class="{{col.control}}">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="{{col.label}}">
                                    <label for="line2" class="col-form-label">Line 2</label>
                                </div>
                                <div class="{{col.input}}">
                                    <input type="text" formControlName="line2" class="form-control form-control-sm" id="line2" value="Mirissa North">
                                </div>
                            </div>
                        </div>

                        <div class="{{col.control}}">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="{{col.label}}">
                                    <label for="city" class="col-form-label">City</label>
                                </div>
                                <div class="{{col.input}}">
                                    <input type="text" formControlName="city" class="form-control form-control-sm" id="city">
                                </div>
                            </div>
                        </div>

                        <div class="{{col.control}}">
                            <div class="row g-3 align-items-center mb-3">
                                <div class="{{col.label}}">
                                    <label for="district" class="col-form-label">District</label>
                                </div>
                                <div class="{{col.input}}">
                                    <input type="text" formControlName="district" class="form-control form-control-sm" id="district">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="d-flex justify-content-evenly">
                        <button type="button" class="btn btn-sm btn-secondary" routerLink="/auth">Log In</button>
                        <button type="submit" class="btn btn-sm btn-primary">Register</button>
                    </div>

                </form>
            </ng-container>
        </div>

        <div class="col bg-dark">

        </div>

    </div>
</div>

