<app-dashboard-card-container>
    <app-dashboard-card [title]="'Customers'" [count]="5620" icon="icofont icofont-users-alt-5" buttonName="View"></app-dashboard-card>
    <app-dashboard-card [title]="'Products'" [count]="3568" icon="icofont icofont-box" buttonName="View"></app-dashboard-card>
    <app-dashboard-card [title]="'Purchases!'" [count]="15958" icon="icofont icofont-grocery" buttonName="View"></app-dashboard-card>
</app-dashboard-card-container>

<br>

<div class="container">
    <table class="tests">
        <tr>
            <td class="test-title">Alerts</td>
            <td>
                <button class="btn btn-success" (click)="alert('Success',  level.SUCCESS)">Success</button>
                <button class="btn btn-info" (click)="alert('Information',  level.INFO)">Info</button>
                <button class="btn btn-warning" (click)="alert('Warning',  level.WARNING)">Warning</button>
                <button class="btn btn-danger" (click)="alert('Error',  level.ERROR)">Error</button>
            </td>
        </tr>
        <tr>
            <td class="test-title">Confirms</td>
            <td>
                <button class="btn btn-success" (click)="confirm(level.SUCCESS)">Success</button>
                <button class="btn btn-info" (click)="confirm(level.INFO)">Info</button>
                <button class="btn btn-warning" (click)="confirm(level.WARNING)">Warning</button>
                <button class="btn btn-danger" (click)="confirm(level.ERROR)">Error</button>
            </td>
        </tr>
        <tr>
            <td class="test-title">Prompt</td>
            <td>
                <button class="btn btn-primary" (click)="prompt()">Prompt</button>
            </td>
        </tr>
    </table>
</div>
