@import "src/global-vars";

app-navbar {

}
mat-drawer {
    border: none;
}
.app-sidenav {
    //position: fixed;
    //top: var(--nav);
    //left: calc(var(--side-nav) * -1);
    //width: var(--side-nav);
    //height: calc(100vh - var(--nav));
    //background-color: #9a9a9a;
    //&.open {
    //    left: 0 !important;
    //}
}
.app-content.logged {
    position: fixed;
    top: $app-nav;
    left: 0;
    width: 100vw;
    height: calc(100vh - #{$app-nav});
}
