<div class="alert-dialog view-dialog">
    <div mat-dialog-title class="text-center">
        <i class="alert-icon icofont icofont-ui-note text-app-primary"></i>
        <span class="alert-title">View Position</span>
    </div>
    <mat-dialog-content>
        <table class="table table-view">
            <tbody>
            <tr><th scope="row">Name</th><td><b>:</b> {{position.name}}</td></tr>
            <tr><th scope="row">Status</th><td><b>:</b> {{position.statusString}}</td></tr>
            <tr><th scope="row">Created By</th><td><b>:</b> {{position.createdBy.firstName}} {{position.createdBy.firstName}}</td></tr>
            <tr><th scope="row">Created At</th><td><b>:</b> {{position.createdAt | amDateFormat: 'YYYY-MM-DD'}}</td></tr>
            <tr *ngIf="position.updatedBy"><th scope="row">Updated By</th><td><b>:</b> {{position.updatedBy.firstName}} {{position.updatedBy.firstName}}</td></tr>
            <tr *ngIf="position.updatedBy"><th scope="row">Updated At</th><td><b>:</b> {{position.updatedAt | amDateFormat: 'YYYY-MM-DD'}}</td></tr>
            </tbody>
        </table>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions>
        <button type="button" class="btn btn-app-primary text-light d-block ms-auto" (click)="close()">OK</button>
    </mat-dialog-actions>
</div>
