@import "src/global-vars";

$header-color: $app-primary-color;
$header-text-color: $app-text-invert-color;

.data-table {
    thead {
        background-color: $header-color;
        color: $header-text-color;
    }
    td, th {
        vertical-align: middle;
        padding: 0 15px;
    }
    .data-table-options {
        text-align: right;
        .btn-option:not(:last-child) {
            margin-right: 5px;
        }
    }
}
